/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/
body{
  background-image: url("../images/pigeon-background.JPEG");
  background-color: #DDDDDD;
  color: #000000;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  /*Req 1*/
}

h1{
  color: #c12258;
  /*Req 2*/
  font-size: 32px;
  text-align: center;
  line-height: 2;
}

p{
  padding-top: 15px;
}

a{
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}

/*Req 5*/
/*Add selector and rule here*/
*:focus{
  border-style: dashed;
  border-width: 3px;
  border-color: #417243;
}


td, th{
  text-align: center;
  border-top: 2px solid #000000;
  overflow: hidden;
  padding: 10px;
}


.colhead{
  color: #FFFFFF;
  background-color: #7e0825;
  overflow: hidden;
  border-top: 0px;
  min-width: 125px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase; 
}

.colhead:first-child{
  border-top-left-radius: 50px;
}

.colhead:last-child{
  border-top-right-radius: 50px;
}

.rowhead{
  border-right: 2px solid #000000;
}

table{
    margin: auto;
    border: 5px solid #000000;
    border-radius: 50px;
    /*padding: 10px 15px;*/
    vertical-align: middle;
    border-collapse: separate;
}

/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{}

/*Add selectors and rules here*/

tr:nth-child(even) {
  background: #D1D1D1;
}

tr:nth-child(odd){
  background: transparent;
}

tbody tr:last-child th:first-child,
tbody tr:last-child td:first-child{
  border-bottom-left-radius: 50px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 50px;
}

tr:hover{
  background: rgba(126, 8, 37, 0.25);
}

footer{
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  min-height: 75px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
